body {
    background-color: #17181b;
    font-style: Verdana, sans-serif;
    color: white;
    height: 100vh; /*Body height 100% Viewport height*/
    flex-direction: column;
    display: flex;
}
header {
    text-align: center;
    height: fit-content;
}
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    flex-grow: 1;
    align-content: flex-start;
    padding-top: 5px;
}
div {
    padding: 15px;
    width: 150px;
}
a {
    color: inherit;
    text-decoration-line: none;
    text-align: center;
}
img {
    border-radius: 5%;
    box-shadow: 5px 5px black;
    width: 150px;
    transition: scale 1s;
}
img:hover {
    border-style: solid;
    border-color: #2b71d8;
    transform: scale(1.05);
    cursor: pointer;
}
p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
 /* Extra small devices (phones, 400px and down) */
 @media only screen and (max-width: 400px) {
    img {width: 80px;}
    div {width: 80px;}
    h1 {font-size: 80%;}
    p {font-size: 60%;}
 }
  /* The Modal (background) */
.modal {
    /*display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 